<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

{% load static %}
{% load leaflet_tags %}

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Monitoreo de puntos de calor en Colombia - IDEAM {% block title %}{% endblock %}</title>

	<!-- jQuery/JavaScripts -->

	{# jQuery #}
    <script type="text/javascript" src="{% static 'scripts/jquery-3.3.1.min.js' %}"></script>

    {# Date range picker #}
    {#  https://github.com/longbill/jquery-date-range-picker #}
    <link rel="stylesheet" type="text/css" href="{% static "css/daterangepicker.min.css" %}" />
    <script type="text/javascript" src="{% static 'scripts/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/jquery.daterangepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/date.range.js' %}"></script>

    {# Select2 jQuery-based for select boxes #}
    {#  https://github.com/select2/select2 #}
    <link href="{% static "css/select2.min.css" %}" rel="stylesheet" />
    <script type="text/javascript" src="{% static 'scripts/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/select2_i18n_es.js' %}"></script>

    {# leaflet map #}
	{% leaflet_js %}
    {% leaflet_css %}

    {# leaflet cluster #}
    {#  https://github.com/Leaflet/Leaflet.markercluster #}
    <link href="{% static "css/MarkerCluster.css" %}" rel="stylesheet" />
    <link href="{% static "css/MarkerCluster.Default.css" %}" rel="stylesheet" />
    <script type="text/javascript" src="{% static 'scripts/leaflet.markercluster.js' %}"></script>

    {# custom jQuery #}
	<script src="{% static "scripts/active_fires.js" %}" type="text/javascript"></script>

    {# custom CSS #}
	<link rel="stylesheet" type="text/css" href="{% static "css/active_fires.css" %}" />

	{% block javascripts %}
	{% endblock %}

	<link rel="shortcut icon" href="{% static "img/favicon.png" %}" />
</head>

<body>

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="lateral-item-title" >Contexto</div>
        <div class="lateral-item-content" > <br>
            En los últimos años, el monitoreo forestal ha sido esencial para orientar los procesos de toma de decisiones relacionados con la gestión forestal y la lucha contra la deforestación. El conocimiento y monitoreo de las dinámicas de puntos de calor asociadas a ecosistemas naturales, especialmente de bosques es un insumo importante para orientar  las acciones de intervención estratégica del territorio y su gestión integral y para reducir los procesos de degradación ambiental, entre otros.
            <br><br>
            Los puntos de calor detectados por sensores satelitales son una aproximación a la ocurrencia de incendios:  Estos representan el centro de un píxel donde se ha detectado una anomalía térmica. En la mayoría de los casos estos puntos identifican fuegos en áreas con algún tipo de vegetación, pero también pueden ser llamas por combustión de gases, tormentas eléctricas, etc. No hay manera de saber cuál tipo de anomalía térmica es detectada basada solamente con la información satelital por lo que para la correcta identificación de los incendios en vegetación se requieren insumos y análisis adicionales. No obstante, existe un vínculo entre la ocurrencia de incendios y el cambio de cobertura terrestre, en especial con la deforestación.
        </div>
      </div>

    </div>

	<div id="wrapper">
		<div id="header">
            <div id="header-left">
                <img src="{% static "img/ideam.png" %}"/>
            </div>
			<div id="header-right">
			</div>
			<div id="header-main">
				<p id="title"> <a href="http://{{ request.get_host }}"
                                  title="Página de inicio">Monitoreo de puntos de calor en Colombia</a></p>
                <p id="subtitle">Sistema para el monitoreo de puntos de calor sobre la superficie detectados satelitalmente
                    <span id="modal_window">(contexto)</span>
                </p>
			</div>
		</div>

		<div id="main">
			<div id="wrap-content">

				<!-- content -->
				<div id="content-map">
					{% block content-map %}

					{% endblock %}
				</div>
            	<div id="lateral-content">
					{% block lateral-content %}

					{% endblock %}

                    <!-- footer -->
                    <div id="footer">
                        <div id="footer-left-ideam">
                                <span class="text-bold">Instituto de Hidrología,
                                    Meteorología<br />y Estudios Ambientales
                                </span>
                                <br />Sistema de Monitoreo de Bosque y Carbono
                            </div>
                        </div>
                    </div>
                    <!-- footer -->
				</div>
				<!-- content -->
			</div>
		</div>

	</div>
</body>

</html>