{% extends "base.html" %}

{% load static %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block javascripts %}

    {#  General javascripts  #}
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        {# apply extent #}
        function set_extent(map, options) {
            {# extent = [[lat-lng top-left], [lat-lng bottom-right]] #}
            map.fitBounds({{ extent }});
        }

        {# change the extent in url when the user move map #}
        function synchronize_extent(map, options) {
            map.on('moveend', function() {
                var bounds = map.getBounds();
                {# change locations maps #}
                {# nw_lat nw_lgn se_lat se_lng #}
                var new_extent = "("+bounds.getNorthWest().lat+"_"+bounds.getNorthWest().lng
                                 +"_"+bounds.getSouthEast().lat+"_"+bounds.getSouthEast().lng+")";
                {# update extent in url get parameter #}
                updateUrlParameter("extent", new_extent);
            });
        }

        $(function () {
            // fill the period from the url get parameters
            var from_date = getParameterByName("from_date");
            var to_date = getParameterByName("to_date");
            if ((from_date !== null) && (to_date !== null)) {
                $('#period').data('dateRangePicker').setDateRange(from_date, to_date);
            }
            var get_region = getParameterByName("region");
            $('#region').val(get_region).trigger('change');
        });
    </script>

    {#  Leaflet and maps javascripts  #}
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">

        // REGIONS

        var region_style = {
            'color': '#2b2b2b',
            'weight': 2,
            'opacity': 0.35,
            'fillOpacity': 0.025,
            'interactive': false,
        };
        function region(map, new_region) {
            // set asynchronize ajax
            $.ajaxSetup({async: true});
            // clear all markers in the map before add the new
            if ( typeof map.region !== 'undefined') {
                map.removeLayer(map.region);
            }
            var region = new L.FeatureGroup();
            var data_url = "{% url 'region' %}" + "?region=" + new_region;
            // Download GeoJSON via Ajax
            $.getJSON(data_url, function (data) {
                var shape = L.geoJson(data, {style: region_style});
                region.addLayer(shape);
            });
            // add to map
            map.addLayer(region);
            // save markers in map variable
            map.region = region;
        }

        // BURNED AREA

        var burned_area_style = {
            1: {'color': '#5c3eb5', 'weight': 0, 'fillOpacity': 0.35, 'interactive': false},
            2: {'color': '#5c3eb5', 'weight': 0, 'fillOpacity': 0.35, 'interactive': false},
            3: {'color': '#5c3eb5', 'weight': 0, 'fillOpacity': 0.35, 'interactive': false},
            4: {'color': '#5c3eb5', 'weight': 0, 'fillOpacity': 0.35, 'interactive': false},
            5: {'color': '#5c3eb5', 'weight': 0, 'fillOpacity': 0.35, 'interactive': false},
            6: {'color': '#5c3eb5', 'weight': 0, 'fillOpacity': 0.35, 'interactive': false},
            7: {'color': '#5c3eb5', 'weight': 0, 'fillOpacity': 0.35, 'interactive': false},
            8: {'color': '#5c3eb5', 'weight': 0, 'fillOpacity': 0.35, 'interactive': false},
            9: {'color': '#5c3eb5', 'weight': 0, 'fillOpacity': 0.35, 'interactive': false},
            10: {'color': '#5c3eb5', 'weight': 0, 'fillOpacity': 0.35, 'interactive': false},
            11: {'color': '#5c3eb5', 'weight': 0, 'fillOpacity': 0.35, 'interactive': false},
            12: {'color': '#5c3eb5', 'weight': 0, 'fillOpacity': 0.35, 'interactive': false},
        }
        function add_burned_area(map, ba_date) {  // ba_date: yyyy-mm
            // set asynchronize ajax
            $.ajaxSetup({async: true});
            var burned_area = new L.FeatureGroup();
            var data_url = "{% url 'burned-area' %}" + "?date=" + ba_date;
            // Download GeoJSON via Ajax
            $.getJSON(data_url, function (data) {
                var shape = L.geoJson(data, {style: burned_area_style[parseInt(ba_date.toString().split('-')[1])]});
                burned_area.addLayer(shape);
            });
            // add to map
            map.addLayer(burned_area);
            // save markers in map variable
            if ( typeof map.burned_area == 'undefined') {
                map.burned_area = {};
            }
            map.burned_area[ba_date] = burned_area;
        }
        function remove_burned_area(map, ba_date) {  // ba_date: yyyy-mm
            // set asynchronize ajax
            $.ajaxSetup({async: true});
            // clear all markers in the map before add the new
            if (ba_date in map.burned_area) {
                map.removeLayer(map.burned_area[ba_date]);
                delete map.burned_area[ba_date];
            }
        }

        // ACTIVE FIRES POINTS

        var fireIcon = L.icon({
            iconUrl: "{% static "img/fire/active_fire.png" %}",
            shadowUrl: "{% static "img/fire/active_fire_shadow.png" %}",

            iconSize: [16, 28], // size of the icon
            shadowSize: [30, 24], // size of the shadow

            iconAnchor: [8, 28], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 23],  // the same for the shadow
            popupAnchor: [0.5, -28] // point from which the popup should open relative to the iconAnchor
        });

        function active_fires(map, options) {
            $.ajaxSetup({async: true});
            // clear all markers in the map before add the new
            if ( typeof map.markers !== 'undefined') {
                map.removeLayer(map.markers);
            }
            //var markers = new L.FeatureGroup();
            var markers = new L.markerClusterGroup({
                disableClusteringAtZoom: 11,
                spiderfyOnMaxZoom: false,
                animate: false,
            });
            var data_url = "{% url 'active-fires' %}" + window.location.search;
            // Download GeoJSON via Ajax
            $.getJSON(data_url, function (data) {
                // Add GeoJSON layer
                L.geoJson(data, {
                    pointToLayer: function (feature, latlng) {
                        // market
                        {# var marker = L.marker(latlng, {icon: fireIcon}); #}
                        var marker = L.marker(latlng, {
                            icon: L.divIcon({
                                html: '<svg transform="scale(1 1)" viewBox="-1 -1 2 2">  <circle cx="0" cy="0" r="0.9" fill-opacity="0.6" fill="#CC3D36" /></svg>'
                            })
                        });

                        // popup
                        marker.bindPopup("");
                        function onPopupClick(e) {
                            var popup = e.target.getPopup();
                            $.ajax({
                                url: "{% url 'get-popup' %}" + window.location.search,
                                data: {id: feature.properties.id},
                                dataType: 'json',
                                async: true,
                            })
                            .done(function(popup_text) {
                                popup.setContent(popup_text);
                                popup.update();
                            });
                        }
                        marker.on('click', onPopupClick );
                        // add this market
                        markers.addLayer(marker);
                }});
                // update the number of active fires result of ajax
                $('#number-result').text(data.features.length);
            });
            // add to map
            map.addLayer(markers);
            // save markers in map variable
            map.markers = markers;
        }
    </script>

    {#  Cargar mapa  #}
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        function load_map(map, options) {
            // load map in request url with get parameter
            set_extent(map, options);
            synchronize_extent(map, options);
            region(map, getParameterByName("region"));
            active_fires(map, options);

            // update the map after date change
            $('#period').on('datepicker-change', function (event, obj) {
                updateUrlParameter("from_date", moment(obj.date1).format("YYYY-MM-DD"));
                updateUrlParameter("to_date", moment(obj.date2).format("YYYY-MM-DD"));
                active_fires(map, options);
            });

            // load region/points when changed the drop-list
            $('#region').change(function() {
                var new_region = $(this).val();
                updateUrlParameter("region", new_region);
                region(map, new_region);
                active_fires(map, options);
            });

            // load burned areas when changed the drop-list
            // select
            $('#burned_area').on("select2:select", function(e){
                var selected_value = e.params.data['text'];
                add_burned_area(map, selected_value);
            }).trigger('change');
            // burned area by year
            $('.burned_area_by_year').click(function(e){
                var selected_year = $(this).text();
                var items = $('#burned_area').find("option");
                var items_selected = $('#burned_area').select2('data');
                for (i of items) {
                    if (i.text.startsWith(selected_year) && items_selected.some(items_selected => items_selected.text === i.text)) {
                        $('#burned_area').val($('#burned_area').val().concat([i.text])).trigger('change');
                        add_burned_area(map, i.text);
                    }
                }
            });
            // unselect
            $('#burned_area').on("select2:unselect", function(e){
                var unselected_value = e.params.data['text'];
                remove_burned_area(map, unselected_value);
            }).trigger('change');
            // unselect all
            $('#burned_area_unselect_all').click(function(e){
                var items = $('#burned_area').select2('data');
                for (i of items) {remove_burned_area(map, i.text);}
                $('#burned_area').val(null).trigger('change');
            });
        }
    </script>
{% endblock %}

{% block title %}
{% endblock %}

{% block menu-content %}
{% endblock %}

{% block content-map %}
    {% leaflet_map "active_fires_map" callback="window.load_map" %}
{% endblock %}

{% block lateral-content %}
    <div id="overflow-content">
        {# puntos de calor #}

        <div id="lateral-content-title" >Puntos de calor</div>
        <div id="lateral-content-update" >Última actualización: <span id="last-update">{{ af_last_update|date:"N j, Y, P" }}</span></div>
        {# date range input #}
        <div class="lateral-item">
            <div class="lateral-item-title" >Periodo</div>
            <div class="lateral-item-content" >
                <div id="period">
                    De: <input id="from-date" size="7" value=""> a: <input id="to-date" size="7" value="">
                </div>
            </div>
        </div>

        {# Region #}

        <div class="lateral-item">
            <div class="lateral-item-title" >Region</div>
            <div class="lateral-item-content" >
                <div id="region-div">
                    <select id="region" name="region">

                        <optgroup label="General">
                            <option value="colombia">Colombia</option>
                        </optgroup>

                        <optgroup label="Departamentos">
                        {% for department in departments %}
                            <option value={{ department.slug }}>{{ department.name }}</option>
                        {% endfor %}
                        </optgroup>

                        <optgroup label="Regiones Naturales">
                        {% for natural_region in natural_regions %}
                            <option value={{ natural_region.slug }}>{{ natural_region.name }}</option>
                        {% endfor %}
                        </optgroup>

                    </select>
                </div>
            </div>
        </div>

        {# Result #}

        <div class="lateral-item">
            <div class="lateral-item-title" >Resultado</div>
            <div class="lateral-item-content" ><span id="number-result">...</span> puntos de calor
                <a class="link" href="{% url 'download-result' %}">descargar</a>
            </div>
        </div>

        {# burned area #}

        <div id="lateral-content-title" >Área quemada</div>
        <div id="lateral-content-update" >Disponibilidad: <span id="last-update">{{ range_burned_area }}</span>
        <br />presentan un retraso de ~3 meses</div>

        <div class="lateral-item">
            <div class="lateral-item-title" >Modis</div>
            <div class="lateral-item-content" >Datos mensuales de Modis-MCD64A1 (500m)
                <div id="burned-area-div">
                    <select id="burned_area" name="burned_area[]" multiple="multiple">
                        {% for burned_area in burned_areas %}
                            <option value={{ burned_area.slug }}>{{ burned_area.slug }}</option>
                        {% endfor %}
                    </select>
                </div>
                {# accesos rapidos por año #}
                <div id="lateral-content-update" style="text-align: right;width: 250px;">Seleccionar:
                    {% for year_burned_area in years_burned_area %}
                        <a class="link burned_area_by_year" href="#" style="margin: 0px;padding: 0px 2px;">{{ year_burned_area }}</a>
                    {% endfor %}
                    <a class="link" href="#" id="burned_area_unselect_all">ninguno</a>
                </div>
            </div>
        </div>
    </div>

    {# footer #}

    <div id="footer-links">
        <a class="link" href="/archivos-ftp/">Archivos ftp</a>
        <span class="link" id="modal_about_us_link">Acerca de</span>
    </div>

{% endblock %}