{% extends "base.html" %}

{% load staticfiles %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block leaflet_scripts %}

    {#  Area de estudio  #}
    {#    <script src="{% static "geojson/area_estudio.json" %}" type="text/javascript"></script>#}

    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        {% comment %}
        {#  Area de estudio  #}
        var area_estudio_style = {
            'color': '#004B96',
            'weight': 2,
            'opacity': 0.7
        };
        function add_area_estudio(map, options) {
            L.geoJson(area_estudio, {onEachFeature: popup, style: area_estudio_style}).addTo(map);
        }
        {% endcomment %}

        function popup(feature, layer) {
            if (feature.properties && feature.properties.name) {
                layer.bindPopup(feature.properties.name);
            }
        }
    </script>

    {#  Puntos activos de incendios  #}
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        var fireIcon = L.icon({
            iconUrl: "{% static "img/fire/active_fire.png" %}",
            shadowUrl: "{% static "img/fire/active_fire_shadow.png" %}",

            iconSize: [21, 35], // size of the icon
            shadowSize: [39, 36], // size of the shadow
            iconAnchor: [10.5, 35], // point of the icon which will correspond to marker's location
            shadowAnchor: [6, 34],  // the same for the shadow
            popupAnchor: [0.5, -35] // point from which the popup should open relative to the iconAnchor
        });

        function add_active_fires(map, options) {
{#            L.marker([4, -80], {icon: fireIcon}).addTo(map).bindPopup("I am a green leaf.");#}
{#            L.marker([4, -80]).addTo(map).bindPopup("I am a green leaf.");#}

            var dataurl = '{% url "data" from_year from_month from_day to_year to_month to_day %}';
            // Download GeoJSON via Ajax
            $.getJSON(dataurl, function (data) {
                // Add GeoJSON layer
                L.geoJson(data, {
                    pointToLayer: function (feature, latlng) {
    {#                        alert(JSON.stringify(feature, null, 4));#}
                        return L.marker(latlng, {icon: fireIcon}).addTo(map).bindPopup(feature.properties.popup_text);
                }});
            });
        }
    </script>

    {#  Cargar mapa  #}
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        function load_map(map, options) {
            add_active_fires(map, options);
            {# add_area_estudio(map, options);#}
        }
    </script>

{% endblock %}

{% block title %}
{% endblock %}

{% block menu-content %}
{% endblock %}

{% block content-map %}
    {% leaflet_map "active_fires_map" callback="window.load_map" %}
{% endblock %}

{% block content-items %}
    <div class="block-title" >Puntos de Incendios</div>
    <div class="block-subtitle" >Periodo</div>
    <form action="/load-period/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Recalcular" />
    </form>
    <div class="block-subtitle" >Encontrados {{ qs_active_fires_in_period|length }} puntos activos:</div>

    <div id="active-fire-items" >
        {% for active_fire in qs_active_fires_in_period %}
            <div class="box-item">
                <p><b>Fecha:</b> {{ active_fire.date|date:"Y-m-d H:i" }}</p>
                <p><b>Satelite:</b> {{ active_fire.source }}</p>
            </div>
        {% endfor %}
    </div>
    <div id="link-active-fires-files">
        <a href="/ftp_files/">Archivos de puntos de incendios</a>
    </div>
    {% comment %}<div id="content-footer">
        <p>Puntos de incendios proveniente del sistema LANCE de los satelites de MODIS Terra & Aqua de la NASA</p>
    </div>{% endcomment %}
{% endblock %}